# Exercise 2

https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

1. Use the preloaded data provided in this notebook and complete the following tasks:
	* 1 function for working with numeric data
	* 4 functions for working with string data
	* 3 functions for working with datetime data
		- 2 functions to transform/convert
		- 1 function to calculate time difference
	* Data Transformation
		- 1 example of iloc
		- 2 example of loc: 1 regular loc and 1 loc with logic
		- 1 example of data transformation (df.T, stack, unstack, etc.)
		- 1 example of data mapping (map, apply, etc.)
	* Pandas Data Joining
		- 1 example of concat
		- 1 example of append
		- 1 example of merge
2. Submit the practice notebook (ipynb file) with your name in the filename provided below: 
    - \\\\mh.org\\Public\\CO\\CO - DSci Python Community\\Training\\Python_101_Summer2023\\Exercises

In [1]:
import pandas as pd

df = pd.read_csv('https://data.cdc.gov/resource/m74n-4hbs.csv')
df.head()

,analysisdate,time_period,mmwryear,mmwrweek,weekending,raceethnicity,sex,agegroup,deaths_weighted,covid19_weighted,deaths_unweighted,covid19_unweighted,average_number_of_deaths,average_number_of_deaths_1,number_above_average_weighted,percent_above_average_weighted,number_above_average,percent_above_average,footnote,geography
0,2023-03-05T00:00:00.000,2015-2019,2015,1,2015-01-10T00:00:00.000,All Race/Ethnicity Groups,All Sexes,0-14 Years,624,0,624,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
1,2023-03-05T00:00:00.000,2015-2019,2016,1,2016-01-09T00:00:00.000,All Race/Ethnicity Groups,All Sexes,0-14 Years,617,0,617,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
2,2023-03-05T00:00:00.000,2015-2019,2017,1,2017-01-07T00:00:00.000,All Race/Ethnicity Groups,All Sexes,0-14 Years,614,0,614,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
3,2023-03-05T00:00:00.000,2015-2019,2018,1,2018-01-06T00:00:00.000,All Race/Ethnicity Groups,All Sexes,0-14 Years,634,0,634,0,615,615,NaN,NaN,NaN,NaN,NaN,United States
4,2023-03-05T00:00:00.000,2015-2019,2019,1,2019-01-05T00:00:00.000,All Race/Ethnicity Groups,All Sexes,0-14 Years,586,0,586,0,615,615,NaN,NaN,NaN,NaN,NaN,United States